table {
    border: 1px solid rgb(47, 71, 177);
}
td {
    border: 1px solid rgb(47, 71, 177);
}
table {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,213,255,0.34077380952380953) 0%, rgba(221,255,0,0.4948354341736695) 46%, rgba(255,0,67,0.48082983193277307) 87%);
}
th {
    color: rgb(35, 52, 153);
}
img {
    width: 100px;
    height: 100px;
}