.circle {
    background-color: rgb(253, 226, 105);
    height: 200px;
    width: 200px;
    border: solid 15px black;
    border-radius: 50%;
    position: relative;
}
.left-eye, .right-eye {
    width: 60px;
    height: 30px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background:black;
    position: absolute;
    left: 50px;
    top: 75px;

  }
  .right-eye {
    left: 135px;
  }
  .eyelid, .eyelid {
    background-color: rgb(253, 226, 105);
    height: 40px;
    width: 45px;
    border-radius: 50%;
    position: relative;
    top: 7px;
    left: 7px;
  }
  .mouth {
    background-color: black;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    border: solid black;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 70px;
    top: 140px;
    overflow: hidden;
  }
  .tongue {
    background-color: rgb(204, 58, 58);
    height: 30px;
    width: 50px;
    clip-path: inset(0 round 50% 50% 0 0 / 100% 100% 0 0);
    clip-path: ellipse(50% 100% at 50% 100%);
    position: relative;
    left: 25px; 
    top: 23px;
  }
  .teeth {
    background-color: blanchedalmond;
    height: 15px;
    width: 100px;
    position: relative;
    left: 1px;
    bottom: 30px;
  }
  .main-part {
      position: absolute;
  }
  .secondary-part {
      position: relative;

  }
  .logo {
      height: 41px;
      width: 45px;
  }
  .logo {
    height: 41.34100341796875px;
    width: 45.11500549316406px;
}
.container {
    max-width: 1641px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
}
.container-flex {
    display: flex;
}
.main-part {
    position: absolute;
}
.secondary-part {
    position: relative;
    top: 23px;
}
.logo {
    height: 41px;
    width: 45px;
    margin-right: 15px;
}
.right {
    position: absolute;
    right: -1px;
}
.left {
    position: absolute;
    left: 0;
}