.hello-world:hover {
    color: blue;
}
.link1:hover {
    color: rgb(119, 119, 235);
    text-decoration: none;
    /*display: block;
    position: relative;
    top: 5px;*/
}
.input:focus {
    border-color: rgb(119, 119, 235);
    outline: none;
}
.linka {
    font-size: 20px;
}
.linka:hover {
    font-size: 23px;
}
.linka:visited {
    color: white;
}
.kote {
    width: 55px;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
}
.kote:hover {
    width: 1000px;
    height: 50px;
    transition: 3s;
}.kote {
    animation: myfirst 1s infinite;
  }
  @keyframes myfirst {
    0%   {top: 20px;height: 50px; width: 55px;}
    25%  {top: 0px;height: 50px; width: 75px;}
    50% {top: 20px;height: 50px;width: 100px;}
    50%  {top: 0px;height: 50px; width: 75px;}
    100% {top: 20px;height: 50px; width: 55px;}
  }
  ul {
      list-style: none;
  }
  ul li:first-child {
    color: rgb(131, 9, 9);
    font-weight: bold;
    list-style: none;
  }
  li:nth-child(odd) {
    color: rgb(168, 33, 33);
  }
  ul li:nth-child(2)::before {
    content: '  ';
    background-image: url('./images/emoji.png');
    height: 10px;
    width: 10px;
    background-size: contain;
    display: inline-block;
  }
  ul li:nth-child(3)::before {
    content: '  ';
    background-image: url('./images/pouting-face-90.png');
    height: 10px;
    width: 10px;
    background-size: contain;
    display: inline-block;
  }
  ul li:nth-child(4)::before {
    content: '  ';
    background-image: url('./images/5c433b4f99596168669faf0c.png');
    height: 11px;
    width: 11px;
    background-size: contain;
    display: inline-block;
  }
  ul li:nth-child(5)::before {
    content: '  ';
    background-image: url('./images/5c433b4f99596168669faf0c.png');
    height: 11px;
    width: 11px;
    background-size: contain;
    display: inline-block;
  }
  ul li:nth-child(6)::before {
    content: '  ';
    background-image: url('./images/8bf9afd0de1295907004240dfc1c8fa9.png');
    height: 9px;
    width: 9px;
    background-size: contain;
    display: inline-block;
  }
  .hello::before {
      content: 'kljlhki';
  }